Frontend/node_modules
Frontend/public/build
DeepLearning/unet/results
DeepLearning/unet/test-predict/*.jpg
*.pyc
.hdf5
Backend/app/networks
Backend/app/bib/*.png
Backend/app/bib/*.jpg
Backend/app/bib/*.gif